<div>
  <h2 class="mb-8 text-center title text-xl text-primary-600 dark:text-white">
    {@title}
  </h2>

  <.simple_form
    :let={f}
    for={@changeset}
    id="pack-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
    class="flex flex-col space-y-4 justify-center items-stretch max-w-2xl w-full mx-auto"
  >
    <.input
      field={f[:class]}
      type="select"
      label={gettext("Class")}
      options={[
        {gettext("Any"), :all},
        {gettext("Rifle"), :rifle},
        {gettext("Shotgun"), :shotgun},
        {gettext("Pistol"), :pistol}
      ]}
      class="text-center input input-primary"
      value={@class}
    />

    <.input
      field={f[:type_id]}
      type="select"
      label={gettext("Type")}
      options={type_options(@types, @class)}
      class="text-center input input-primary"
      id="pack-form-type-select"
      phx-hook="SlimSelect"
      phx-update="ignore"
    />

    <.input
      field={f[:count]}
      type="number"
      label={gettext("Count")}
      class="text-center input input-primary"
      min="0"
    />

    <.input
      field={f[:price_paid]}
      type="number"
      label={gettext("Price paid")}
      step="0.01"
      class="text-center input input-primary"
    />

    <.input
      field={f[:lot_number]}
      type="text"
      label={gettext("Lot number")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
    />

    <.input
      field={f[:purchased_on]}
      type="date"
      label={gettext("Purchased on")}
      class="input input-primary"
      phx-update="ignore"
      value={@changeset |> Changeset.get_field(:purchased_on) || Date.utc_today()}
    />

    <.input
      field={f[:notes]}
      type="textarea"
      label={gettext("Notes")}
      class="text-center input input-primary"
      id="pack-form-notes"
      phx-debounce="300"
      phx-update="ignore"
    />

    <.input
      field={f[:container_id]}
      type="select"
      label={gettext("Container")}
      options={container_options(@containers)}
      class="text-center input input-primary"
      id="pack-form-container-select"
      phx-hook="SlimSelect"
      phx-update="ignore"
    />

    <:actions :let={f}>
      <%= case @action do %>
        <% action when action in [:new, :clone] -> %>
          <div class="flex flex-row items-end gap-4 w-full">
            <.input
              field={f[:multiplier]}
              type="number"
              label={gettext("Copies")}
              class="text-center input input-primary"
              value="1"
              phx-update="ignore"
            />

            <.button
              phx-disable-with={dgettext("prompts", "Creating…")}
              class="btn btn-primary"
            >
              {dgettext("actions", "Create")}
            </.button>
          </div>
        <% :edit -> %>
          <.button
            phx-disable-with={dgettext("prompts", "Saving…")}
            class="mx-auto btn btn-primary"
          >
            {dgettext("actions", "Save")}
          </.button>
      <% end %>
    </:actions>
  </.simple_form>
</div>
