<div>
  <h2 class="mb-8 text-center title text-xl text-primary-600">
    {@title}
  </h2>

  <.simple_form
    :let={f}
    for={@changeset}
    id="shot-record-form"
    class="flex flex-col space-y-4 justify-center items-stretch max-w-2xl w-full mx-auto"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input
      field={f[:count]}
      type="number"
      label={gettext("Shots fired")}
      min="1"
      max={@shot_record.count + @pack.count}
      class="input input-primary"
    />

    <.input
      field={f[:notes]}
      type="textarea"
      label={gettext("Notes")}
      class="input input-primary"
      id="shot-record-form-notes"
      maxlength="255"
      phx-debounce="300"
      phx-update="ignore"
      placeholder={gettext("Really great weather")}
    />

    <.input
      field={f[:date]}
      type="date"
      label={gettext("Date")}
      class="input input-primary"
    />

    <:actions>
      <.button
        class="mx-auto btn btn-primary"
        phx-disable-with={dgettext("prompts", "Saving...")}
      >
        {dgettext("actions", "Save")}
      </.button>
    </:actions>
  </.simple_form>
</div>
