<div class="mx-auto pb-8 max-w-2xl flex flex-col justify-center items-stretch space-y-4">
  <h1 class="title text-primary-600 dark:text-white text-xl">
    {dgettext("actions", "Log in")}
  </h1>

  <.simple_form
    :let={f}
    for={to_form(%{}, as: :user)}
    as={:user}
    action={~p"/users/log_in"}
    class="flex flex-col space-y-4 justify-center items-stretch"
  >
    <p :if={@error_message} class="alert alert-danger col-span-3">
      {@error_message}
    </p>

    <.input
      field={f[:email]}
      type="email"
      label={gettext("Email")}
      autocomplete="email"
      class="input input-primary col-span-2"
      required
    />

    <.input
      field={f[:password]}
      type="password"
      label={gettext("Password")}
      autocomplete="current-password"
      class="input input-primary col-span-2"
      required
    />

    <.input
      field={f[:remember_me]}
      type="checkbox"
      label={gettext("Keep me logged in for 60 days")}
      class="checkbox col-span-2"
    />

    <:actions>
      <.button class="mx-auto btn btn-primary col-span-3">
        {dgettext("actions", "Log in")}
      </.button>
    </:actions>
  </.simple_form>

  <hr class="hr" />

  <div class="flex flex-row justify-center items-center space-x-4">
    <.link :if={Accounts.allow_registration?()} href={~p"/users/register"} class="btn btn-primary">
      {dgettext("actions", "Register")}
    </.link>
    <.link href={~p"/users/reset_password"} class="btn btn-primary">
      {dgettext("actions", "Forgot your password?")}
    </.link>
  </div>
</div>
