<!DOCTYPE html>
<html lang="en" class="p-0 m-0 w-full h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {dgettext("errors", "Error")} | {gettext("Cannery")}
    </title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/style.css"} />
  </head>

  <body class="p-0 m-0 w-full h-full subpixel-antialiased">
    <header>
      <.topbar current_user={@current_user} />
    </header>

    <div class="pb-8 w-full flex flex-col justify-center items-center text-center">
      <div class="p-8 sm:p-16 w-full flex flex-col justify-center items-center space-y-4 max-w-3xl">
        <h1 class="title text-primary-600 dark:text-white text-3xl">
          {@error_string}
        </h1>

        <hr class="w-full hr" />

        <.link href={~p"/"} class="link title text-primary-600 dark:text-white text-lg">
          {dgettext("errors", "Go back home")}
        </.link>
      </div>
    </div>
  </body>
</html>
