<div class="mx-auto pb-8 max-w-2xl flex flex-col justify-center items-stretch space-y-4">
  <h1 class="title text-primary-600 text-xl">
    {dgettext("actions", "Register")}
  </h1>

  <.form
    :let={f}
    for={@changeset}
    action={~p"/users/register"}
    class="flex flex-col space-y-4 justify-center items-stretch"
  >
    <p :if={@changeset.action && not @changeset.valid?} class="alert alert-danger col-span-3">
      {dgettext("errors", "Oops, something went wrong! Please check the errors below.")}
    </p>

    <%= if @invite_token do %>
      <.input
        type="hidden"
        id="invite_token"
        field={f[:invite_token]}
        name="id"
        value={@invite_token}
      />
    <% end %>

    <.input
      field={f[:email]}
      type="email"
      label={gettext("Email")}
      required
      class="input input-primary col-span-2"
    />

    <.input
      field={f[:password]}
      type="password"
      label={gettext("Password")}
      required
      class="input input-primary col-span-2"
    />

    <.input
      field={f[:locale]}
      type="select"
      label={gettext("Language")}
      options={[
        {"English", "en_US"},
        {"Deutsch", "de"},
        {"Français", "fr"},
        {"Español", "es"}
      ]}
      class="input input-primary col-span-2"
    />

    <.button class="mx-auto btn btn-primary col-span-3">
      {dgettext("actions", "Register")}
    </.button>
  </.form>

  <hr class="hr" />

  <div class="flex flex-row justify-center items-center space-x-4">
    <.link href={~p"/users/log_in"} class="btn btn-primary">
      {dgettext("actions", "Log in")}
    </.link>
    <.link href={~p"/users/reset_password"} class="btn btn-primary">
      {dgettext("actions", "Forgot your password?")}
    </.link>
  </div>
</div>
