<div class="flex items-center mx-4 my-2 space-x-1">
  <input
    class="w-40 text-center input input-primary"
    name={"#{@name}_start"}
    type="date"
    value={@start_date}
  />
  <span>—</span>
  <input
    class="w-40 text-center input input-primary"
    name={"#{@name}_end"}
    type="date"
    value={@end_date}
  />
</div>
