<div
  id={"tag-#{@tag.id}"}
  class="mx-4 mb-4 px-8 py-4 space-x-4 flex justify-center items-center
    border border-zinc-400 dark:border-neutral-600 dark:bg-surface-dark
    rounded-lg shadow-lg hover:shadow-md
    dark:shadow-[0_4px_12px_rgba(255,255,255,0.1)] dark:hover:shadow-[0_2px_6px_rgba(255,255,255,0.08)]
    transition-[background-color,box-shadow] duration-500 ease-in-out"
>
  <.simple_tag_card tag={@tag} />
  {render_slot(@inner_block)}
</div>
