<div class="flex flex-col justify-center items-stretch pb-8 mx-auto space-y-4 max-w-2xl">
  <h1 class="pb-4 text-2xl text-center title text-primary-600 dark:text-white">
    {gettext("Settings")}
  </h1>

  <hr class="hr" />

  <.simple_form
    :let={f}
    for={@email_changeset}
    action={~p"/users/settings"}
    class="flex flex-col justify-center items-stretch pb-4 space-y-4"
  >
    <h3 class="text-lg text-center title text-primary-600 dark:text-white">
      {dgettext("actions", "Change email")}
    </h3>

    <div
      :if={@email_changeset.action && not @email_changeset.valid?}
      class="alert alert-danger"
    >
      {dgettext("errors", "Oops, something went wrong! Please check the errors below.")}
    </div>

    <input type="hidden" name="action" value="update_email" />

    <.input
      field={f[:email]}
      type="email"
      label={gettext("Email")}
      required
      class="input input-primary"
    />

    <.input
      field={f[:current_password]}
      type="password"
      label={gettext("Current password")}
      id="current_password_for_email"
      class="input input-primary"
      required
      name="current_password"
    />

    <:actions>
      <.button class="mx-auto btn btn-primary">
        {dgettext("actions", "Change email")}
      </.button>
    </:actions>
  </.simple_form>

  <hr class="hr" />

  <.simple_form
    :let={f}
    for={@password_changeset}
    action={~p"/users/settings"}
    class="flex flex-col justify-center items-stretch pb-4 space-y-4"
  >
    <h3 class="text-lg text-center title text-primary-600 dark:text-white">
      {dgettext("actions", "Change password")}
    </h3>

    <div
      :if={@password_changeset.action && not @password_changeset.valid?}
      class="alert alert-danger"
    >
      {dgettext("errors", "Oops, something went wrong! Please check the errors below.")}
    </div>

    <input type="hidden" name="action" value="update_password" />

    <.input
      field={f[:password]}
      type="password"
      label={gettext("New password")}
      required
      class="input input-primary"
    />

    <.input
      field={f[:password_confirmation]}
      type="password"
      label={gettext("Confirm new password")}
      required
      class="input input-primary"
    />

    <.input
      field={f[:current_password]}
      type="password"
      label={gettext("Current password")}
      id="current_password_for_password"
      class="input input-primary"
      required
      name="current_password"
    />

    <:actions>
      <.button class="mx-auto btn btn-primary">
        {dgettext("actions", "Change password")}
      </.button>
    </:actions>
  </.simple_form>

  <hr class="hr" />

  <.simple_form
    :let={f}
    for={@locale_changeset}
    action={~p"/users/settings"}
    class="flex flex-col justify-center items-stretch pb-4 space-y-4"
  >
    <h3 class="text-lg text-center title text-primary-600 dark:text-white">
      {dgettext("actions", "Change language")}
    </h3>

    <input type="hidden" name="action" value="update_locale" />

    <.input
      field={f[:locale]}
      type="select"
      label={gettext("Locale")}
      options={[
        {"English", "en_US"},
        {"Deutsch", "de"},
        {"Français", "fr"},
        {"Español", "es"}
      ]}
      class="w-full input input-primary"
      data-slim-select
    />

    <:actions>
      <.button
        class="mx-auto btn btn-primary"
        data-confirm={dgettext("prompts", "Are you sure you want to change your language?")}
      >
        {dgettext("actions", "Change language")}
      </.button>
    </:actions>
  </.simple_form>

  <hr class="hr" />

  <div class="flex justify-center items-center">
    <.link href={~p"/export/json"} class="mx-4 my-2 btn btn-primary" target="_blank">
      {dgettext("actions", "Export Data as JSON")}
    </.link>

    <.link
      href={~p"/users/settings/#{@current_user}"}
      method="delete"
      class="mx-4 my-2 btn btn-alert"
      data-confirm={dgettext("prompts", "Are you sure you want to delete your account?")}
    >
      {dgettext("actions", "Delete User")}
    </.link>
  </div>
</div>
