<div class="flex flex-col justify-center items-stretch text-center space-y-8 max-w-2xl w-full mx-auto">
  <h2 class="title text-xl text-primary-600 dark:text-white">
    {@title}
  </h2>

  <div class="flex flex-wrap justify-center items-center">
    <.link
      :for={tag <- @container.tags}
      href="#"
      class="mx-2 my-1 px-4 py-2 rounded-lg title text-xl inline-flex items-center gap-1"
      style={"color: #{tag.text_color}; background-color: #{tag.bg_color}"}
      phx-click="delete"
      phx-value-tag-id={tag.id}
      phx-target={@myself}
      data-confirm={
        dgettext(
          "prompts",
          "Are you sure you want to remove the %{tag_name} tag from %{container_name}?",
          tag_name: tag.name,
          container_name: @container.name
        )
      }
    >
      {tag.name}
      <.icon name="trash" class="size-4" />
    </.link>

    <h2
      :if={@container.tags |> Enum.empty?()}
      class="title text-xl text-primary-600 dark:text-white"
    >
      {gettext("No tags")}
      {display_emoji("😔")}
    </h2>
  </div>

  <%= unless tag_options(@tags, @container) |> Enum.empty?() do %>
    <hr class="hr" />

    <.form
      :let={f}
      for={%{}}
      as={:tag}
      id="add-tag-to-container-form"
      class="flex flex-col space-y-4 justify-center items-stretch"
      phx-target={@myself}
      phx-submit="save"
    >
      <.input
        field={f[:tag_id]}
        type="select"
        options={tag_options(@tags, @container)}
        class="text-center input input-primary w-full"
        id={"#{@id}-tag-select"}
        phx-hook="SlimSelect"
        phx-update="ignore"
      />

      <.button
        type="submit"
        class="mx-auto btn btn-primary"
        phx-disable-with={dgettext("prompts", "Adding…")}
      >
        {dgettext("actions", "Add")}
      </.button>
    </.form>
  <% end %>
</div>
