<div>
  <h2 class="mb-8 text-center title text-xl text-primary-600 dark:text-white">
    {@title}
  </h2>
  <.form
    :let={f}
    for={@changeset}
    id="container-form"
    class="flex flex-col space-y-4 justify-center items-stretch max-w-2xl w-full mx-auto"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input
      field={f[:name]}
      type="text"
      label={gettext("Name")}
      class="input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("My cool ammo can")}
    />

    <.input
      field={f[:desc]}
      type="textarea"
      label={gettext("Description")}
      class="input input-primary"
      id="container-form-desc"
      phx-debounce="300"
      phx-update="ignore"
      placeholder={gettext("Metal ammo can with the anime girl sticker")}
    />

    <.input
      field={f[:type]}
      type="text"
      label={gettext("Type")}
      class="input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("Magazine, Clip, Ammo Box, etc")}
    />

    <.input
      field={f[:location]}
      type="textarea"
      label={gettext("Location")}
      class="input input-primary"
      id="container-form-location"
      phx-debounce="300"
      phx-update="ignore"
      placeholder={gettext("On the bookshelf")}
    />

    <.button
      class="mx-auto btn btn-primary"
      phx-disable-with={dgettext("prompts", "Saving…")}
    >
      {dgettext("actions", "Save")}
    </.button>
  </.form>
</div>
