<div>
  <h2 class="mb-8 text-center title text-xl text-primary-600">
    {@title}
  </h2>
  <.form
    :let={f}
    for={@changeset}
    id="type-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
    class="flex flex-col space-y-4 justify-center items-stretch max-w-2xl w-full mx-auto"
  >
    <.input
      field={f[:name]}
      type="text"
      label={gettext("Name")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
    />

    <.input
      field={f[:class]}
      type="select"
      label={gettext("Class")}
      options={[
        {gettext("Rifle"), :rifle},
        {gettext("Shotgun"), :shotgun},
        {gettext("Pistol"), :pistol}
      ]}
      class="text-center input input-primary"
      maxlength="255"
    />

    <.input
      field={f[:desc]}
      type="textarea"
      label={gettext("Description")}
      class="text-center input input-primary"
      id="type-form-desc"
      phx-debounce="300"
      phx-update="ignore"
    />

    <h2 class="text-center title text-lg text-primary-600">
      {gettext("Dimensions")}
    </h2>

    <%= if Changeset.get_field(@changeset, :class) in [:rifle, :pistol] do %>
      <.input
        field={f[:cartridge]}
        type="text"
        label={gettext("Cartridge")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
        placeholder={gettext("5.56x46mm NATO")}
      />
    <% else %>
      <.input
        type="hidden"
        id="cartridge"
        field={f[:cartridge]}
        value={nil}
      />
    <% end %>

    <.input
      field={f[:caliber]}
      type="text"
      label={
        if(Changeset.get_field(@changeset, :class) == :shotgun,
          do: gettext("Gauge"),
          else: gettext("Caliber")
        )
      }
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext(".223")}
    />

    <%= if Changeset.get_field(@changeset, :class) == :shotgun do %>
      <.input
        field={f[:unfired_length]}
        type="text"
        label={gettext("Unfired shell length")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />

      <.input
        field={f[:brass_height]}
        type="text"
        label={gettext("Brass height")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />

      <.input
        field={f[:chamber_size]}
        type="text"
        label={gettext("Chamber size")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />
    <% else %>
      <.input
        type="hidden"
        id="unfired_length"
        field={f[:unfired_length]}
        value={nil}
      />
      <.input
        type="hidden"
        id="brass_height"
        field={f[:brass_height]}
        value={nil}
      />
      <.input
        type="hidden"
        id="chamber_size"
        field={f[:chamber_size]}
        value={nil}
      />
    <% end %>

    <h2 class="text-center title text-lg text-primary-600">
      {gettext("Projectile")}
    </h2>

    <.input
      field={f[:grains]}
      type="number"
      label={gettext("Grains")}
      step="1"
      class="text-center input input-primary"
      min="1"
    />

    <%= if Changeset.get_field(@changeset, :class) in [:rifle, :pistol] do %>
      <div class="flex flex-col gap-1 w-full">
        <div class="flex items-center gap-1 text-sm leading-6 text-white">
          <span>{gettext("Bullet type")}</span>
          <.link
            href="https://shootersreference.com/reloadingdata/bullet_abbreviations/"
            class="link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <.icon name="arrow-top-right-on-square" class="size-4" />
          </.link>
        </div>
        <.input
          field={f[:bullet_type]}
          type="text"
          hidden_label={true}
          class="text-center input input-primary"
          maxlength="255"
          phx-debounce="300"
          placeholder={gettext("FMJ")}
        />
      </div>
    <% else %>
      <.input
        type="hidden"
        id="bullet_type"
        field={f[:bullet_type]}
        value={nil}
      />
    <% end %>

    <.input
      field={f[:bullet_core]}
      type="text"
      label={
        if(Changeset.get_field(@changeset, :class) == :shotgun,
          do: gettext("Slug core"),
          else: gettext("Bullet core")
        )
      }
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("Steel")}
    />

    <%= if Changeset.get_field(@changeset, :class) in [:rifle, :pistol] do %>
      <.input
        field={f[:jacket_type]}
        type="text"
        label={gettext("Jacket type")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
        placeholder={gettext("Bimetal")}
      />
    <% else %>
      <.input
        type="hidden"
        id="jacket_type"
        field={f[:jacket_type]}
        value={nil}
      />
    <% end %>

    <.input
      field={f[:case_material]}
      type="text"
      label={gettext("Case material")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("Brass")}
    />

    <%= if Changeset.get_field(@changeset, :class) == :shotgun do %>
      <.input
        field={f[:wadding]}
        type="text"
        label={gettext("Wadding")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />

      <.input
        field={f[:shot_type]}
        type="text"
        label={gettext("Shot type")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
        placeholder={gettext("Target, bird, buck, etc")}
      />

      <.input
        field={f[:shot_material]}
        type="text"
        label={gettext("Shot material")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />

      <.input
        field={f[:shot_size]}
        type="text"
        label={gettext("Shot size")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />

      <.input
        field={f[:load_grains]}
        type="number"
        label={gettext("Load grains")}
        step="1"
        class="text-center input input-primary"
        min="1"
      />

      <.input
        field={f[:shot_charge_weight]}
        type="text"
        label={gettext("Shot charge weight")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />
    <% else %>
      <.input type="hidden" id="wadding" field={f[:wadding]} value={nil} />
      <.input type="hidden" id="shot_type" field={f[:shot_type]} value={nil} />
      <.input type="hidden" id="shot_material" field={f[:shot_material]} value={nil} />
      <.input type="hidden" id="shot_size" field={f[:shot_size]} value={nil} />
      <.input type="hidden" id="load_grains" field={f[:load_grains]} value={nil} />
      <.input
        type="hidden"
        id="shot_charge_weight"
        field={f[:shot_charge_weight]}
        value={nil}
      />
    <% end %>

    <h2 class="text-center title text-lg text-primary-600">
      {gettext("Powder")}
    </h2>

    <.input
      field={f[:powder_type]}
      type="text"
      label={gettext("Powder type")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
    />

    <%= if Changeset.get_field(@changeset, :class) in [:rifle, :pistol] do %>
      <.input
        field={f[:powder_grains_per_charge]}
        type="number"
        label={gettext("Powder grains per charge")}
        step="1"
        class="text-center input input-primary"
        min="1"
      />
    <% else %>
      <.input
        type="hidden"
        id="powder_grains_per_charge"
        field={f[:powder_grains_per_charge]}
        value={nil}
      />
    <% end %>

    <.input
      field={f[:pressure]}
      type="text"
      label={gettext("Pressure")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("+P")}
    />

    <%= if Changeset.get_field(@changeset, :class) == :shotgun do %>
      <.input
        field={f[:dram_equivalent]}
        type="text"
        label={gettext("Dram equivalent")}
        class="text-center input input-primary"
        maxlength="255"
        phx-debounce="300"
      />
    <% else %>
      <.input
        type="hidden"
        id="dram_equivalent"
        field={f[:dram_equivalent]}
        value={nil}
      />
    <% end %>

    <%= if Changeset.get_field(@changeset, :class) in [:rifle, :pistol] do %>
      <.input
        field={f[:muzzle_velocity]}
        type="number"
        label={gettext("Muzzle velocity")}
        step="1"
        class="text-center input input-primary"
        min="1"
      />
    <% else %>
      <.input
        type="hidden"
        id="muzzle_velocity"
        field={f[:muzzle_velocity]}
        value={nil}
      />
    <% end %>

    <h2 class="text-center title text-lg text-primary-600">
      {gettext("Primer")}
    </h2>

    <.input
      field={f[:primer_type]}
      type="text"
      label={gettext("Primer type")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("Boxer")}
    />

    <.input
      field={f[:firing_type]}
      type="text"
      label={gettext("Firing type")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
      placeholder={gettext("Centerfire")}
    />

    <h2 class="text-center title text-lg text-primary-600">
      {gettext("Attributes")}
    </h2>

    <.input
      field={f[:tracer]}
      type="checkbox"
      label={gettext("Tracer")}
      class="text-center checkbox"
    />

    <.input
      field={f[:incendiary]}
      type="checkbox"
      label={gettext("Incendiary")}
      class="text-center checkbox"
    />

    <.input
      field={f[:blank]}
      type="checkbox"
      label={gettext("Blank")}
      class="text-center checkbox"
    />

    <.input
      field={f[:corrosive]}
      type="checkbox"
      label={gettext("Corrosive")}
      class="text-center checkbox"
    />

    <h2 class="text-center title text-lg text-primary-600">
      {gettext("Manufacturer")}
    </h2>

    <.input
      field={f[:manufacturer]}
      type="text"
      label={gettext("Manufacturer")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
    />

    <.input
      field={f[:upc]}
      type="text"
      label={gettext("UPC")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
    />

    <.button
      phx-disable-with={dgettext("prompts", "Saving…")}
      class="mx-auto btn btn-primary"
    >
      {dgettext("actions", "Save")}
    </.button>
  </.form>
</div>
