<div>
  <h2 class="mb-8 text-center title text-xl text-primary-600">
    {gettext("Record shots")}
  </h2>

  <.simple_form
    :let={f}
    for={@changeset}
    id="shot-record-form"
    class="flex flex-col space-y-4 justify-center items-stretch max-w-2xl w-full mx-auto"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input
      field={f[:ammo_left]}
      type="number"
      label={gettext("Rounds left")}
      min="0"
      max={@pack.count - 1}
      placeholder={gettext("Rounds left")}
      class="input input-primary"
    />
    <button
      type="button"
      class="mx-2 my-1 text-sm btn btn-primary"
      phx-click={JS.dispatch("cannery:set-zero", to: "#shot-record-form_ammo_left")}
    >
      {gettext("Used up!")}
    </button>

    <.input
      field={f[:notes]}
      type="textarea"
      label={gettext("Notes")}
      class="input input-primary"
      id="add-shot-record-form-notes"
      maxlength="255"
      phx-debounce="300"
      phx-update="ignore"
      placeholder={gettext("Really great weather")}
    />

    <.input
      field={f[:date]}
      type="date"
      label={gettext("Date")}
      class="input input-primary"
      phx-update="ignore"
      value={Date.utc_today()}
    />

    <:actions>
      <.button
        class="mx-auto btn btn-primary"
        phx-disable-with={dgettext("prompts", "Saving…")}
      >
        {dgettext("actions", "Save")}
      </.button>
    </:actions>
  </.simple_form>
</div>
