<div>
  <h2 class="mb-8 text-center title text-xl text-primary-600">
    {@title}
  </h2>
  <.simple_form
    :let={f}
    for={@changeset}
    id="tag-form"
    class="flex flex-col space-y-4 justify-center items-stretch max-w-2xl w-full mx-auto"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input
      field={f[:name]}
      type="text"
      label={gettext("Name")}
      class="text-center input input-primary"
      maxlength="255"
      phx-debounce="300"
    />

    <.input
      field={f[:bg_color]}
      type="color"
      label={gettext("Background color")}
      id="tag-bg-color-input"
      class="mx-auto"
      phx-update="ignore"
    />

    <.input
      field={f[:text_color]}
      type="color"
      label={gettext("Text color")}
      id="tag-text-color-input"
      class="mx-auto"
      phx-update="ignore"
    />

    <:actions>
      <.button
        class="mx-auto btn btn-primary"
        phx-disable-with={dgettext("prompts", "Saving...")}
      >
        {dgettext("actions", "Save")}
      </.button>
    </:actions>
  </.simple_form>
</div>
